<table class="table table-condensed" id="{{ direction }}_table">
	<thead>
		<tr>
			<th>
				שם
			</th>
			<th>
				מוצא
			</th>
			<th>
				יוצאים
			</th>
			<th>
				יעד
			</th>
			<th>
				מגיעים
			</th>
		</tr>
	</thead>
	<tbody>
		{% for p in posts if (p.direction == direction) or (direction == 'all') %}
		{% if loop.index0%8 == 3 %}
		<tr class="tr-adsense">
			<td colspan="6">
				{% if not config.DEBUG %}
					<script type="text/javascript"><!--
					google_ad_client = "ca-pub-8407487481882711";
					/* מודעות בטבלה */
					google_ad_slot = "5228184421";
					google_ad_width = 468;
					google_ad_height = 15;
					//-->
					</script>
					<script type="text/javascript"
					src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
					</script>
				{% else %}
					<img src="/static/img/adlinks_468x15.png" alt="AdLinks" title="AdLinks">
				{% endif %}
			</td>
		</tr>
		{% endif %}
		<tr id="post_{{ p._id }}">
			<td>
				<a href="#" class="spaghetti" id="{{ p._id }}" rel="tooltip" title="לשליחת מייל">{{ p.name }}</a>
			</td>
			<td>
				{{ p.source }}
			</td>
			<td>
				{{ p.leaving|format_date_short }} {% if p.flex_leaving %}<i class="icon-resize-full" rel="tooltip" title="גמיש"></i>{% endif %}
			</td>
			<td>
				{{ p.destination }}
			</td>
			<td>
				{{ p.arriving|format_date_short }} {% if p.flex_arriving %}<i class="icon-resize-full" rel="tooltip" title="גמיש"></i>{% endif %}
			</td>
			<td>
				{% if p.comments %}
				<a href="#" class="link-icon" onclick="show_comments('{{ p._id }}')" rel="tooltip" title="לצפייה בהערות">
					<i class="icon-sort-down"></i>
				</a>
				{% endif %}
				&nbsp;
				{% if p.photo_id %}
				<a class="link-icon" href="{{ get_photo_url(p.photo_id, p.photo_format) }}" target="_blank" rel="tooltip" title="לצפייה בתמונת הרכב">
					<i class="icon-picture"></i>
				</a>
				{% endif %}
			</td>
		</tr>
		{% if p.comments %}
		<tr id="comments_{{ p._id }}" style="display: none;">
			<td colspan="5">{{ p.comments }}</td>
			<td>
				<a onclick="hide_comments('{{ p._id }}')" class="link-icon">
					<i class="icon-remove"></i>
				</a>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
function show_comments(id) {
	$('#comments_' + id).show();
}
function hide_comments(id) {
	$('#comments_' + id).hide();
}
</script>