<table class="table table-condensed" id="{{ direction }}_table">
	<thead>
		<tr>
			<th>
				שם
			</th>
			<th>
				מוצא
			</th>
			<th>
				יוצאים
			</th>
			<th>
				יעד
			</th>
			<th>
				מגיעים
			</th>
		</tr>
	</thead>
	<tbody>
		{% for p in posts if (p.direction == direction) or (direction == 'all') %}
		<tr id="post_{{ p._id }}">
			<td>
				<a href="#" class="spaghetti" id="{{ p._id }}" rel="tooltip" title="לחצו לשליחת מייל">{{ p.name }}</a>
			</td>
			<td>
				{{ p.source }}
			</td>
			<td>
				{{ p.leaving|format_date_short }} {% if p.flex_leaving %}<i class="icon-resize-full" rel="tooltip" title="גמיש"></i>{% endif %}
			</td>
			<td>
				{{ p.destination }}
			</td>
			<td>
				{{ p.arriving|format_date_short }} {% if p.flex_arriving %}<i class="icon-resize-full" rel="tooltip" title="גמיש"></i>{% endif %}
			</td>
			<td>
				{% if p.comments %}
				<a href="#" id="show-comments-btn_{{ p._id }}"><i class="icon-comment"></i></a>
				{% endif %}
			</td>
		</tr>
		{% if p.comments %}
		<tr id="comments_{{ p._id }}" style="display: none;">
			<td>{{ p.comments }}</td>
			<td>
				<a href="#" id="hide-comments-btn_{{ p._id }}">
					<i class="icon-remove"></i>
				</a>
			</td>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
