<div id="popout-contact" class="well container" style="width: 50%; alignment-adjust: center; display: none;">
		<form action="/contact" id="contact_form">
			<div class="span3">
				<label class="control-label" for="name"><i class="icon-user"></i> שם</label>
				<input type="text" placeholder="החתול שמיל" name="name" required>
				<label class="control-label" for="email"><i class="icon-envelope-alt"></i> דוא"ל</label> 
				<input type="text" placeholder="shmil@catmail.com" name="email" required>
				<label class="control-label" for="subject"><i class="icon-tag"></i> נושא</label>
				<input type="text" placeholder="קומו אסטס?" name="subject" required>
			</div>
			<div class="span3">
				<button type="button" class="close pull-left" id="close-contact-btn">&times;</button>
				<label class="control-label" for="message"><i class="icon-comment-alt"></i> הודעה &nbsp; 
					<span class="label label-success" id="message-sent">ההודעה נשלחה</span>
					<span class="label label-warning" id="message-warning">ההודעה לא נשלחה</span>
				</label> 
				<textarea rows="6" name="message" placeholder="טודו ביין?" required></textarea>
				<div class="btn-group">
				<button class="btn btn-inverse pull-right" type="submit" id="contact-submit"><i class="icon-ok"></i> שליחה</button>
				<button class="btn btn pull-right" id="contact-clear"><i class="icon-remove"></i> מחיקה</button>
			</div>
			</div>

		</form>
</div>
<script type="text/javascript">
$(function() {
	$("[id^=close-contact-]").click(function() {
		$('#popout-contact').hide();
	});
	$("#contact-btn").click(function (){
		$('[id^=popout]').hide();
		$('#popout-contact').show();
	});
	$('#message-sent').hide();
	$('#message-warning').hide();
	$('#contact-submit').click(function() {
		$('#message-sent').hide();
		$('#message-warning').hide();
	});
	$("#contact-clear").click(function() {
    	$(this).closest('form').find("input[type=text], textarea").val("");
	});
})
$(function() {
	$("#contact_form").submit(function(event) {
		/* get some values from elements on the page: */
		var $form = $( this );
		message = $form.find( 'textarea[name="message"]' ).val();
		name = $form.find( 'input[name="name"]' ).val();
		email = $form.find( 'input[name="email"]' ).val();
		subject = $form.find( 'input[name="subject"]' ).val();
		url = '/contact';
		
		/* Send the data using post and put the results in a div */
		$.post( url, { name: name, email: email, subject: subject, message: message },
			function( data ) {
				success = data["result"];
				if (success) {
					$('#message-sent').show();
				} else {
					$('#message-warning').show();
				}
			}
			);
		/* stop form submitting normally */
		return false;
	});
})
</script>

