<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<title>{% block title %} Volver {% endblock title %}</title>
	<meta name="description" content="" />
	<meta name="author" content="Yoav Ram">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="icon" type="image/ico" href="/static/favicon.ico">

	<!-- Le style -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/style.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/jquery-ui.css" />
	<link href="/static/bootstrap.rtl.css" rel="stylesheet">
	<link href="/static/glyphicons.css" rel="stylesheet">
	<style type="text/css">
	[class^="icon-"] { background-image: url("/static/glyphicons-halflings-rtl.png"); } 
	[class*="icon-white"] { background-image: url("/static/glyphicons-halflings-white-rtl.png"); } 
	[class^="glyphicon-"] { background-image: url("/static/glyphicons.png"); } 
	</style>

	<!-- Le JS -->
	<script src="/static/jquery-1.8.3.js"></script>
	<script src="/static/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/bootstrap.rtl.js"></script>	
	<script>
	$(function() {
		$("[id^=datepicker]").datepicker({ dateFormat: "dd/mm/yy" });
	});
	</script>
	{% block head %}
	{% endblock head %}

</head>


<body onload="prettyPrint()">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="#">לחזור <img src='/static/Volver_99x40.png' class="img-rounded">
					Volver</a>
					<div class="nav-collapse">
						<ul class="nav">
	<!--li><a href="#">ירושלים/באר-שבע</a></li>
	<li><a href="#">תל-חי/נהריה</a></li-->
	</ul>
</div><!--/.nav-collapse -->
</div><!--/.container -->
</div><!--/.navbar-inner -->
</div><!--/.navbar -->

<!-- BODY -->	
<div class="row-fluid">
	<div class="span4">

		<form class="form-horizontal" action="/" method="post">
			<fieldset>
				<div class="control-group">
					<h4>הרשמה</h4>
					<label class="control-label" for="source">
						מוצא
					</label>
					<div class="controls">
						<select name="source" id="source">
							{% for v in ["פוארטו מונט", "ברילוצ'ה", "אל בולסון", "אל צ'אלטן", "אל קלפאטה", "פוקון", "אחר..."] %}
							<option value="{{ v }}">{{ v }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="destination">
						יעד
					</label>
					<div class="controls">
						<select name="destination" id="destination">
							{% for v in ["פוארטו מונט", "ברילוצ'ה", "אל בולסון", "אל צ'אלטן", "אל קלפאטה", "פוקון", "אחר..."] %}
							<option value="{{ v }}">{{ v }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="datepicker_leaving">יוצאים</label>
					<div class="controls">
						<input type="text" id="datepicker_leaving" name="leaving" />
					</div>
				</div>  
				<div class="control-group">
					<label class="control-label" for="datepicker_arriving">מגיעים</label>
					<div class="controls">
						<input type="text" id="datepicker_arriving" name="arriving" />
					</div>
				</div> 
				<div class="control-group">
					<label class="control-label" for="name">שם</label>
					<div class="controls">
						<input type="text" placeholder="שמיל החתול" name="name">
					</div> 
				</div>  
				<div class="control-group">
					<label class="control-label" for="email">אימייל</label> 
					<div class="controls">
						<input type="text" placeholder="shmil@catmail.com" name="email">
					</div>   
				</div>  
				<div class="control-group">
					<div class="controls">
						<button type="submit" class="btn">אישור</button>
					</div>   
				</div>  
			</fieldset>
		</form>

	</div>
	<div class="span4">

		<h4>צפונה</h4>
		<table class="table table-condensed" id="north">
			<thead>
				<tr>
					<th>
						שם
					</th>
					<th>
						יוצאים
					</th>
					<th>
						מגיעים
					</th>
				</tr>
			</thead>
			<tbody>
				{% for p in posts if p.direction =='north' %}
				<tr>
					<td>
						<a href="mailto:{{ p.email }}">{{ p.name }}</a>
					</td>
					<td>
						{{ p.leaving|format_date }}
					</td>
					<td>
						{{ p.arriving|format_date }}
					</td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>

		<h4>דרומה</h4>

		<table class="table table-condensed" id="south">
			<thead>
				<tr>
					<th>
						שם
					</th>
					<th>
						יוצאים
					</th>
					<th>
						מגיעים
					</th>
				</tr>
			</thead>
			<tbody>				
				{% for p in posts if p.direction =='south' %}
				<tr>
					<td>
						<a href="mailto:{{ p.email }}">{{ p.name }}</a>
					</td>
					<td>
						{{ p.leaving|format_date }}
					</td>
					<td>
						{{ p.arriving|format_date }}
					</td>
				</tr>				
				{% endfor %}
			</tbody>
		</table>

	</div>
	<div class="span4">
		<h4>מפת איזור קארטרה אוסטראל - Carretera Austral</h4>
		{% include 'map.html' %}
	</div>


</div>

<!-- FOOTER -->
<div class="row-fluid">
	<div class="span10 offset1">
		<footer class="colophon"> 
			{% block footer %}
			{% endblock footer %}

			<ul class="quick-links">					
				<li><a href="http://blog.getbootstrap.com/">Twitter Bootstrap</a></li>
				<li><a href="https://github.com/AbdullahDiaa/Bootstrap-RTL">Bootstrap-RTL</a></li>
				<li><a href="http://jquery.com/">jQuery</a></li>
				<li><a href="http://jqueryui.com/">jQuery UI</a></li>
				<li><a href="http://maps.google.com/">Google Maps</a></li>
				<li>|</li>
				<li><a href="http://python.org/">Python</a></li>
				<li><a href="http://flask.pocoo.org/">Flask</a></li>
				<li><a href="http://flask-pymongo.readthedocs.org/">Flask-PyMongo</a></li>
				<li><a href="http://www.mongodb.org/">mongoDB</a></li>
				<li>|</li>
				<li><a href="http://www.heroku.com">Heroku</a></li>
				<li><a href="http://www.mongolab.com">mongolab</a></li>
			</ul>
			<ul class="quick-links">					
				<li>Copyright © 2012 Yoav Ram</li>
			</ul>

		</footer>
	</div>
</div>

</body>
</html>