<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<title>{% block title %} Volver {% endblock title %}</title>
	<meta name="description" content="" />
	<meta name="author" content="Yoav Ram">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<link rel="icon" type="image/ico" href="/static/favicon.ico">

	<!-- Le style -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/style.css" rel="stylesheet">
	<link href="/static/jquery-ui.css" rel="stylesheet">
	<link href="/static/bootstrap.rtl.css" rel="stylesheet">
	<link href="/static/bootstrap-responsive.rtl.css" rel="stylesheet">
	<link href="/static/font-awesome.css" rel="stylesheet">
	
	<!-- Le JS -->
	<script type="text/javascript" src="/static/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/static/jquery-ui.js"></script>
	<script type="text/javascript" src="/static/bootstrap.rtl.js"></script>
	<script type="text/javascript" src="/static/bootstrap-transition.js"></script>
	<script type="text/javascript" src="/static/bootstrap-collapse.js"></script>
	<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      function error_div(msg) {
      	return '<div class="alert"><button type="button" class="close" data-dismiss="alert">&times;</button>'+msg+'</div>'
      }
      function custom_change(select) {
      	var element = select.find('option:selected'); 
      	var option = element.attr("value"); 
      	var custom = $('#custom_' + select.attr('id'));
      	if (option=='אחר...') {
      		custom.show();
      	} else {
      		custom.hide();
      	}
      }
      function show_table(id) {
      	$('#' + id + '_table').show();
      }
      function hide_table(id) {
      	$('#' + id + '_table').hide();
      }
      function reverse_children_not_last(parent) {
      	var len = parent.children().size();
      	parent.children().each(function(i,child){if (i!=len-1){parent.prepend(child);}})
      }

      $(function() {
      	$("[id^=datepicker]").datepicker({ 
      		dateFormat: "dd/mm/yy", 
      		defaultDate: "+0"
      	});
      });
      $(function() { 
      	$("#source").change(function(){ 
      		custom_change($(this));
      	}); 
      	$("#destination").change(function(){ 
      		custom_change($(this));
      	}); 
      }); 
      $(function() {
      	$('#make_match').click(function(){
      		var dest = $('#destination').val();
      		if (dest == 'אחר...') {
      			dest = $('input[name=custom_destination]').val()
      		}
      		var arr = $('#datepicker_arriving').val();
      		if (!dest) {
      			$('#error').append(error_div("נא לבחור יעד"));
      			return false;
      		}
      		if (!arr) {
      			$('#error').append(error_div("נא לבחור תאריך הגעה"));
      			return false;	
      		}
      		$.getJSON($SCRIPT_ROOT + '/matches', {
      			destination: dest,
      			arriving: arr
      		}, function(data) {
      			$('[id^=post_]').removeClass();
      			for (i in data.result) {
      				var oid = data.result[i];
      				$('#post_' + oid).addClass('success');
      			}
      		});		      
      	});
      })
      $(function (){
      	$('input[name=direction]').change(function(){
      		// reverse order of source and destination but keep the end points
      		var src = $('#source');
      		var dst = $('#destination')
      		var src_selected = src.val();
      		var dst_selected = dst.val();
      		reverse_children_not_last(src);
      		reverse_children_not_last(dst);
      		src.val(dst_selected);
      		dst.val(src_selected);
      	});
      })
      </script>
      {% block head %}
      {% endblock head %}

  </head>

  <body>
  	<div class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
  			<div class="container">
  				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
  				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</a>
  				<a class="brand" href="#">לחזור 
  					<img src='/static/Volver_99x40.png' class="img-rounded">
  					Volver
  				</a>
  				<div class="nav-collapse">
  					<ul class="nav">
  						<li><a href="#" id="about-btn" title="מה זה?"><i class="icon-question-sign"></i></a></li>
  						<li><a href="mailto:{{ config.EMAIL }}" title="צור קשר"><i class="icon-envelope"></i></a></li>
  						<li><a href="mailto:?subject=Volver+-+לחזור&body=שמעת+על+לחזור?+{{ config.WEBSITE_URL }}" title="שתף במייל"><i class="icon-envelope-alt"></i></a></li>
  						<!-- http://stackoverflow.com/questions/9320517/whats-the-most-efficient-way-to-add-social-media-like-and-1-buttons-to-you/9321347#9321347 -->
  						<li><a href="http://www.facebook.com/share.php?u={{ config.WEBSITE_URL }}" title="שתף בפייסבוק"><i class="icon-facebook"></i></a></li>
  						<!-- https://dev.twitter.com/docs/tweet-button -->
  						<li><a href="https://twitter.com/share?url={{ config.WEBSITE_URL }}&text=לחזור+-+מתאמים+כיוונים+בקרטרה+אוסטרל&lang=he&counturl={{ config.WEBSITE_URL }}" class="twitter-share-button" data-lang="he" title="שתף בטוויטר">
  							<i class="icon-twitter"></i></a>
  						</li>
  						<li><a href="https://plusone.google.com/_/+1/confirm?hl=he&url={{ config.WEBSITE_URL }}" title="שתף בגוגל+"><i class="icon-google-plus"></i></a></li>
  					</ul>
  				</div><!--/.nav-collapse -->  				
  			</div><!--/.container -->
  		</div><!--/.navbar-inner -->
  	</div><!--/.navbar -->

  	<!-- BODY -->	
  	{% include "about.html" %}

  	<div class="row-fluid">
  		<div class="span4">
  			<form class="form-horizontal" action="/" method="post">
  				<fieldset>
  					<div class="control-group">
  						<div class="controls">
  							<h4>הרשמה</h4>
  							<div id="error" style='width: 80%;'>						
  							</div>
  							<label class="radio">
  								<input type="radio" name="direction" id="direction_south" value="south" checked>
  								דרומה
  							</label>
  							<label class="radio">
  								<input type="radio" name="direction" id="direction_north" value="north">
  								צפונה
  							</label>
  						</div>
  					</div>
  					<div class="control-group">
  						<label class="control-label" for="source">
  							מוצא
  						</label>
  						<div class="controls">
  							<select name="source" id="source" required>
  								{% for k,v in sort_atlas_by_field(atlas,field='lat',reverse=True) %}
  								<option value="{{ v.he }}" lat="{{ v.lat }}" lng="{{ v.lng }}">{{ v.he }}</option>
  								{% endfor %}
  								<option value='אחר...'>אחר...</option>
  							</select>
  							<div id="custom_source" style="display: none;">
  								<p></p>
  								<input type="text" name="custom_source" placeholder="לאן?" />
  							</div>
  						</div>
  					</div>
  					<div class="control-group">
  						<label class="control-label" for="destination">
  							יעד
  						</label>
  						<div class="controls">
  							<select name="destination" id="destination" required>
  								{% for k,v in sort_atlas_by_field(atlas,field='lat',reverse=False) %}
  								<option value="{{ v.he }}" lat="{{ v.lat }}" lng="{{ v.lng }}">{{ v.he }}</option>
  								{% endfor %}
  								<option value='אחר...'>אחר...</option>
  							</select>
  							<div id="custom_destination" style="display: none;">
  								<p></p>
  								<input type="text" name="custom_destination" placeholder="לאן?" />
  							</div>
  						</div>
  					</div>
  					<div class="control-group">
  						<label class="control-label" for="datepicker_leaving">יוצאים</label>
  						<div class="controls">  						
  							<input class="input-medium" type="text" id="datepicker_leaving" name="leaving" required/>&nbsp;
  							<label class="checkbox inline">
  								<input type="checkbox" name="flex_leaving">&nbsp;גמיש
  							</label>
  						</div>
  					</div>  
  					<div class="control-group">
  						<label class="control-label" for="datepicker_arriving">מגיעים</label>
  						<div class="controls">
  							<input class="input-medium" type="text" id="datepicker_arriving" name="arriving" required/>&nbsp;
  							<label class="checkbox inline">
  								<input type="checkbox" name="flex_arriving">&nbsp;גמיש
  							</label>
  						</div>
  					</div> 
  					<div class="control-group">
  						<label class="control-label" for="name">שם</label>
  						<div class="controls">
  							<input type="text" placeholder="שמיל החתול" name="name" required>
  						</div> 
  					</div>  
  					<div class="control-group">
  						<label class="control-label" for="email">אימייל</label> 
  						<div class="controls">
  							<input type="text" placeholder="shmil@catmail.com" name="email" required>
  						</div>   
  					</div>  
  					<div class="control-group">
  						<div class="controls">
  							<button class="btn btn-inverse" type="submit" title="מלא את כל השדות">הרשמה</button>
  							<a class="btn" id="make_match" style="margin-right: 10px" title="מלא את 'יעד' ואת מגיעים'">חיפוש</a>
  						</div>   
  					</div>  				
  				</fieldset>
  			</form>

  		</div>
  		<div class="span4">
  			<ul class="nav nav-tabs">
  				<li class="active">
  					<a href="#" onclick="javascript:show_table('all');hide_table('north');hide_table('south');" data-toggle="tab"><h4>הכל</h4></a>
  				</li>
  				<li><a href="#" onclick="javascript:show_table('north');hide_table('all');hide_table('south');" data-toggle="tab"><h4>צפונה</h4></a>
  				</li>
  				<li><a href="#" onclick="javascript:show_table('south');hide_table('north');hide_table('all');" data-toggle="tab"><h4>דרומה</h4></a>
  				</li>	
  			</ul>
  			{% with posts=posts, direction = 'all'%}
  			{% include "_table.html" %}        
  			{% endwith %}
  			{% with posts=posts.rewind(), direction = 'north', hide = True %}
  			{% include "_table.html" %}        
  			{% endwith %}
  			{% with posts = posts.rewind(), direction = 'south', hide = True %}
  			{% include "_table.html" %}        
  			{% endwith %}
  		</div>
  		<div class="span4">
  			<h4>מפת איזור קארטרה אוסטראל - Carretera Austral</h4>
  			{% include 'map.html' %}
  		</div>


  	</div>

  	<!-- FOOTER -->
  	<div class="row-fluid">
  		<div class="span10 offset1">
  			<footer class="colophon"> 
  				{% block footer %}
  				{% endblock footer %}

  				<ul class="quick-links">					
  					<li><a href="http://blog.getbootstrap.com/">Twitter Bootstrap</a></li>
  					<li><a href="https://github.com/AbdullahDiaa/Bootstrap-RTL">Bootstrap-RTL</a></li>
  					<li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>	<li><a href="http://jquery.com/">jQuery</a></li>
  					<li><a href="http://jqueryui.com/">jQuery UI</a></li>
  					<li><a href="https://developers.google.com/maps/">Google Maps API</a></li>
  					<li>|</li>
  					<li><a href="http://python.org/">Python</a></li>
  					<li><a href="http://flask.pocoo.org/">Flask</a></li>
  					<li><a href="http://flask-pymongo.readthedocs.org/">Flask-PyMongo</a></li>
  					<li><a href="http://www.mongodb.org/">MongoDB</a></li>
  					<li>|</li>
  					<li><a href="http://www.heroku.com">Heroku</a></li>
  					<li><a href="http://www.mongolab.com">MongoLab</a></li>
  				</ul>
  				<ul class="quick-links">					
  					<li>© כל הזכויות שמורות ליואב רם ודן ליבשוץ | Copyright © 2012 Yoav Ram and Dan Liebeschutz</li>
  				</ul>

  			</footer>
  		</div>
  	</div>
  </body>
  </html>