<!-- Google Maps -->
<div id="map_canvas" style="width: 100%; height: 480px;">
</div>
<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?sensor=false&language=iw">
</script>
<script type="text/javascript">
function add_marker(map, lat, lng, name) {
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng(lat, lng),
		map: map,
		title: name
	});
}
function initialize() {
	var mapOptions = {
		center: new google.maps.LatLng(-45.566667,-72.066667),
		zoom: 5,
		mapTypeId: google.maps.MapTypeId.HYBRID 
	};
	var map = new google.maps.Map(document.getElementById("map_canvas"),
		mapOptions);
	{% for k,v in atlas.items() %}
	add_marker(map, {{ v.lat }}, {{ v.lng }}, "{{ v.he }}")
	{% endfor %}
}
window.onload = initialize;
</script>
<!-- Google Maps -->