<div dir='rtl'>
<h4>שלום {{ post.name }},</h4>
פרטי נסיעתך יוצגו באתר <a href="{{ config.WEBSITE_URL }}" target="_blank">{{ config.WEBSITE_NAME }}</a> באופן מיידי.
<br>
<em>על מנת למחוק את נסיעתך מהאתר</em>, יש ללחוץ על הלינק הבא, או להעתיק אותו לתיבת הכתובת בדפדפן:
<br>
<a href="{{ delete_link }}" target="_blank">{{ delete_link }}</a>
<br>
בכל מקרה, פרטי נסיעתך וכתובת המייל שלך ימחקו מהאתר כשבוע לאחר תאריך ההגעה שציינת.
<br>
<br>
תודה שהשתמשת בשירות שלנו,
<br>
אנו מאחלים לך נסיעה טובה ובטוחה,
<br>
מכל צוות <a href="{{ config.WEBSITE_URL }}" target="_blank">{{ config.WEBSITE_NAME }}</em>
<br>
נ.ב. - <em>אפשר</em> להשיב למייל זה וצוות האתר ינסה לחזור אליך בהקדם האפשרי.
<br>
</div>
